.container{
  border:2px solid grey;
  margin-left:30%;
  margin-right:60px;
  padding:15px 32px;
  width:50%;
  text-align:center;
  margin-top:30px;
}

.input-field {
  width: 100%;
  padding: 5px;
}
.form-row {
  display: flex;
  gap: 10px;
}

.form-group {
  flex: 1;
}

table {
  border: 2px solid grey;
  width: 600px;
  height: 200px;
  margin-top:30px;
  margin-left:33%;

}


th {
  border: 1px solid black;
}



td {
  text-align: center;
 
}